{% extends "base.bs4" %}

{% block include_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% end %}

{% block include_js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    
    <script>
        function get_messages() {
          $.getJSON( "/messages/", function( data, status, xhr ) {
            console.log("got it")
            var items = [];
            console.log(data);
            

            $("#tweets").prepend( "<div>" + data["html"] + "</div>" );
            
          
            
            
            setTimeout(get_messages,0);
        });
      }
    </script>
{% end %}

{% block document_ready %}
  console.log("called long polling /messages/");
  setTimeout(get_messages,200);
  
{% end %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      

      <!-- Jumbotron -->
      <div class="row navpow">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-4 text-left">
          <a href="/">home</a>
        </div>
        <div class="col-md-4 text-right">
          <a href="http://www.pythononwheels.org/gettingstarted">getting started</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-8">
          &nbsp;
        </div>
        
        <div class="col-md-2">
          &nbsp;
        </div>
      </div>
      <div class="jumbotron">
        <!--img src={{ static_url("images/pow_logo_300.png") }}  style="display: inline-block;" / -->
           TwitterComments
      </div>
      <!-- START THE FEATURETTES -->

      <!--hr class="featurette-divider" -->
      <div class="row featurette">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-8">
          See what's up with #python
          <div id="tweets"></div>

        </div>
        <div class="col-md-2">
        &nbsp;
      </div>


      

    </div> <!-- /container -->
{% end %}